body {
    background-color: rgba(207, 47, 116, 0.8);
}

.carousel { width:640px; height:360px; 
margin-left:auto;
margin-right:auto;
}

.mainTitle {
    text-align: center;
}

.carouselHeader {
    color: black;
}

.carouselBodyText {
    color:blue
}